@base: grey;

body
{
  background-color: @base;


  .hidden{
    display: none;
  }

  form
  {
    margin: 0px;
  }

  #canvas1
  {
    // for canvas the height and width needs to be set INLINE
    // in jade/html, NOT in CSS to prevent blurry text/images
    // see http://davidjs.com/2011/08/blurry-images-in-html5-canvas/
    background-color: white;
    border: 1px dashed black;
  }

  button
  {
    margin-right: 10px;
  }

  a
  {
    margin-right: 10px!important;
  }

  //InfoVis styles //////////////////////////
  #center-container
  {
    background-color:#1a1a1a;
    color:#ccc;
  }

  #infovis-canvaswidget
  {
    // makes sure graph (i.e. graph labels) don't show up outside the widget.
    overflow: hidden;
  }

  #infovis
  {
    width:100%;
    height:600px;
  }

  #infovis-canvas
  {
    background-color: black;
  }

  .tip-title
  {
    color: lightblue;
    text-decoration: underline;
  }

  .tip-text
  {
    color: yellow;
  }

  #inner-details {
    font-size:12px;
  }

  span.close {
    color:#FF5555;
    cursor:pointer;
    font-weight:bold;
    margin-left:3px;
  }

  span.name {
    cursor: pointer;
  }

  /*TOOLTIPS*/
  .tip {
     text-align: left;
     width:auto;
     max-width:500px;
  }

  .tip-title {
    font-size: 11px;
    text-align:center;
    margin-bottom:2px;
  }
  ///////////////////////////////////////////////
}

