@base: grey;

body
{
  background-color: @base;

  canvas
  {
    background-color: white;
    width: 600px;
    height: 600px;
    border: 1px dashed black;
  }

  button
  {
    margin-right: 10px;
  }
}
