table#mapListing
  thead
    th Open
    th Title
    th Last Modified
    th Delete
  tbody
    each map in maps
      tr(data-id=map.id)
        td: a.button.tiny.load Load
        td#mapTitle= map.title
        td#mapLastModified= map.lastModified
        td: a.button.tiny.delete Delete