extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-6.columns
    .small-6.columns
      include authentication-form
  .row
    .small-6.columns.small-centered
      img(src='/images/mindmap_logo1.png')#logo
  .row
    .small-6.columns.small-centered
      a.button.small(href="/instructions") Instructions & Examples
      a.button.small(href="/about") About