extends ../template/layout

block content
  #mapdata.hidden= JSON.stringify(map)
  .row
    .small-12.columns
      if(map)
        h2= map.title
    .small-12.columns
      button.small#save Save
  .row
    .small-4.columns
      textarea#nodeTextBox(placeholder="enter new text here, then double-click on node's label")
    .small-8.columns
  .row
    .small-12.columns
      #container
        #left-container
          #id-list
          #center-container
          #infovis
        #right-container
          #inner-details
      #log
  .row
    .small-12.columns
